.container {
  display: flex;
  display: flex;
  flex-direction: column;
  height:700px;
  margin-top: 20px;
  align-items: center;
  
}

.box {
  flex: 1;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 40px;
  position: relative; 
  display: flex;
  flex-direction: column;/* Set position relative to contain absolutely positioned overlay */
  height:1700px;
  margin-bottom: 20px;
  width:1200px
  

}
.content{
  background-color: rgba(255, 255, 255, 0.6);
  opacity: 1; 
  padding :4px
}
.box.content.hi.p{
  opacity: 1;
}
